body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid;
    background-color: rgb(154, 208, 235);
    /* width: 1920px; */
}
.header{
    width: 1920px;
    height: 400px;
    border: 1px solid none;
    background-image: url(./img/les_tuman_vid_sverhu_129318_3840x2160.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -400px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.dic h1{
    margin-left: 500px;
    margin-top: -50px;
    font-size: 60px;
    color: ghostwhite;
    display: flex;
    align-items: center;
   border: 1px hidden;
   box-shadow: 0px 0px 20px 2px;
}
.olen{
    width: 210px;
    margin-left: 130px;
    margin-top: -150px;
}
.orel{
    width: 200px;
    display: flex;
    margin-left: 80%;
    margin-top: -380px;
    display: flex;
    position: relative;
}

.header2{
    width: 1920px;
    height: 70px;
    border: 1px solid none;
    background-image: url(./img/les_tuman_vid_sverhu_129318_3840x2160.jpg);
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -400px;
    margin-top: 1px;
    display: flex;
    }
    .logo{
        width: 70px;
        margin-left: 20px;
        background-color: rgba(75, 137, 75, 0.524);
        border-radius: 50%;
    }
    .bars{
     margin-left: 500px;
    }
    ul{
    list-style: none;
    width: 800px;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    }

    li{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
       margin: 5px;
       list-style: none;
    }

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;

}

.block1 {
    width: 300px;
    height: auto;
    background-color: #e8b8b8;
    /* margin-bottom: 10px; */
    padding: 20px;
    /* box-sizing: border-box; */
    margin: 2px;
    iframe{
        width: 200px;
        height: 110px;
    }
    .ptic{
        font-size: 20px;
     
    }
    .nas{
        font-size: 20px;
    }
}

.block2 {
    width: 1200px;
    background-color: #868fde;
    margin-bottom: 10px;
    padding: 0px;
    /* box-sizing: border-box; */
    margin: 2px;
}

.block3 {
    width: 300px;
    height: auto;
    background-color: #8cec7b;
    /* margin-bottom: 10px; */
    padding: 20px;
    /* box-sizing: border-box; */
    margin: 2px;
}
/* @media screen and (max-width: 768px) {
    .block {
        width: 100%;
    }
} */
audio{
    width: 120px;
    height: 15px;
    float: left;
    padding: 5px;
    
}
.footer{
    width: 1920px;
    height: 300px;
    border: 1px solid blue;
    background-color: rgb(25, 46, 46);
}
.content-one{
    width: auto;
    height: auto;
    background-color: #8cec7b;
    border-bottom: 2px solid;
    padding-top: 10px;
    padding: 20px;
    h1{
        display: flex;
        justify-content: center;
        }
    img{
        width: 300px;
        float: right;
    }
  .sneg{
    float: left;
  }
}

.content-two{
    width: auto;
    height: auto;
    background-color: #bf4707;
    border-bottom: 2px solid;
    padding: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
.flo{
    width: 200px;
    float: right;
}
.ell{
    margin-top: 100px;
}
 .el{
    width: 400px;
    float: left;
    margin-right: 20px;
 }   

.content-three{
    width: auto;
    height: auto;
    background-color: #b4bf4c;
    border-bottom: 2px solid;
    padding: 20px;
}

.content-four{
    width: auto;
    height: 400px;
    background-color: #69d9f0;
    border-bottom: 2px solid;
}